{% extends 'layout.html' %}

{% block head %}

<link rel="stylesheet" type="text/css" href="/static/Duo-Frame.css">

{% endblock %}


{% block body %}

    <h1>Duo Authentication Prompt</h1>
    <script src='/static/Duo-Web-v2.min.js'></script>
    <iframe id="duo_iframe"
            title="Two-Factor Authentication"
            frameborder="0"
            data-host="{{ host }}"
            data-sig-request="{{ sig_request }}"
            >
    </iframe>

{% endblock %}