{% extends 'layout.html' %}


{% block body %}

<form action="/auth" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="password" placeholder="password">
    <button type="submit">Login</button>
</form>

{% endblock %}